<h2 class="text-center mt-5">About this project</h2>
<div class="text-center">
    This project was written in Angular and .Net. using Sql server.<br/>
    It mesures how much time did it took to the user to click the  <br/>
    login button after the page was loaded,<br/>
    And how long was the user logged in.<br/>
    The Authentication is done by <i>JWT</i>.<br/>
   
</div>
<h3 class="text-center mt-5">Check the source code on github:</h3>
<div class="text-center">
    <a href="https://github.com/dev-gabi/click-logger-api" class="btn a-dark m-5 p-3" target="_blank">Api repository</a>
    <a href="https://github.com/dev-gabi/click-logger-client" class="btn a-dark m-5 p-3" target="_blank">Client repository</a> 
</div>
