<div class="table-responsive">
  <div *ngIf="userStats$ | async" class="mx-auto text-center table">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <div *matHeaderCellDef class="th">Id</div>
        <div *matCellDef="let stats" class="td">
          {{ stats.id }}
        </div>
      </ng-container>

      <ng-container matColumnDef="name">
        <div *matHeaderCellDef class="th">Name</div>
        <div *matCellDef="let stats" class="td">
          {{ stats.userName }}
        </div>
      </ng-container>

      <ng-container matColumnDef="session">
        <div *matHeaderCellDef class="th">Session time(minutes)</div>
        <div *matCellDef="let stats" class="td">
          {{ stats.sessionInMinutes }}
        </div>
      </ng-container>

      <ng-container matColumnDef="login">
        <div *matHeaderCellDef class="th">Login at</div>
        <div *matCellDef="let stats" class="td">
          {{ stats.loginTime | date: 'dd/MM/yy H:mm:ss' }}
        </div>
      </ng-container>

      <ng-container matColumnDef="logout">
        <div *matHeaderCellDef class="th">Logout at</div>
        <div *matCellDef="let stats" class="td">
          {{ stats.logoutTime | date: 'dd/MM/yy H:mm:ss' }}
        </div>
      </ng-container>

      <ng-container matColumnDef="delete">
        <div *matHeaderCellDef class="th"></div>
        <div *matCellDef="let stats" class="td">
          <button (click)="onDelete(stats.id)" class="btn btn-danger rounded">
            Delete
          </button>
        </div>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
