<div class="mx-auto d-block text-center" id="container">
  <h2><u>Login</u></h2>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="form-group">
      <label>Email:</label>
      <input class="form-control" formControlName="email" />
    </div>
    <div
      *ngIf="
        loginForm.get('email').touched && loginForm.get('email').invalid;
        else emailErrorPlaceholder
      "
      class="bg-danger rounded"
    >
      <span *ngIf="loginForm.get('email').hasError('required')"
        >Email is required</span
      >
      <span *ngIf="loginForm.get('email').hasError('email')"
        >Email is not valid</span
      >
    </div>
    <ng-template #emailErrorPlaceholder>
      <div class="error-placeholder"></div>
    </ng-template>
    <div class="form-group">
      <label>Password:</label>
      <input type="password" class="form-control" formControlName="password" />
    </div>
    <div
      *ngIf="
        loginForm.get('password').touched &&
        loginForm.get('password').invalid;
        else passErrorPlaceholder
      "
      class="bg-danger rounded"
    >
      <span *ngIf=" loginForm.get('password').errors?.['minlength']">
        Enter at least 4 characters       
      </span>
<span *ngIf="loginForm.get('password').errors?.['required']"
        >Password is required</span
      >
 
    </div>
    <ng-template #passErrorPlaceholder>
      <div class="error-placeholder"></div>
    </ng-template>
    <input
      type="submit"
      class="btn btn-primary w-50 mt-5"
      value="Login"
      [disabled]="loginForm.invalid"
    />
  </form>

  <div class="w-100 mx-auto d-block center-text mt-5">
    <app-timer></app-timer>
  </div>
</div>
